<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- 导入jquery核心类库 -->
		<script type="text/javascript" th:src="@{/js/jquery-2.2.3.min.js}"></script>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
		<!--导入echars-->
		<script type="text/javascript" th:src="@{/js/echarts-all.js}"></script>
	</head>

	<body>
	<div style="margin-top: 100px;margin-left: 100px;">
		<iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=19" width="800" height="120" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
	</div>
	</body>

</html>