<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- 导入jquery核心类库 -->
		<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
		<script type="text/javascript" src="js/ajaxfileupload.js"></script>
		<!-- 导入easyui类库 -->
		<script type="text/javascript">
		
		function ajaxFileUpload(){
		    //获取软件更新详情
		    var apkIntroduce = $("#apkInfo").val();
		    //开始上传文件时显示一个图片,文件上传完成将图片隐藏
		    //$("#loading").ajaxStart(function(){$(this).show();}).ajaxComplete(function(){$(this).hide();});
		    //执行上传文件操作的函数，使用encodeURI方法，防止传输中文字符的时候出现乱码
		    var uploadUrl = encodeURI(encodeURI( "rein/uploadApk.do?apkIntroduce="+apkIntroduce));
		    $.ajaxFileUpload({
		        //处理文件上传操作的服务器端地址(可以传参数,已亲测可用)
		        url:uploadUrl,
//		      url:basePath + "uploadApk.do?apkIntroduce="+apkIntroduce,
		        secureuri:false,                       //是否启用安全提交,默认为false 
		        fileElementId:'apkFile',           //文件选择框的id属性
		        dataType:'text',                       //服务器返回的格式,可以是json或xml等
		        success:function(data, status){  
		        	//服务器响应成功时的处理函数
		        	alert(data);
		          /*  data = data.replace("<PRE>", '');  //ajaxFileUpload会对服务器响应回来的text内容加上<pre>text</pre>前后缀
		            data = data.replace("</PRE>", '');
		            data = data.replace("<pre>", '');
		            data = data.replace("</pre>", ''); //本例中设定上传文件完毕后,服务端会返回给前台[0`filepath] */
		             
		            //将String字符串转换成json
		            //alert(data);
		            /* var dataset = $.parseJSON(data);
		            alert(dataset);
		            if(status == "true"){
		                $('#result').html("Apk上传成功");
		                alert("上传成功");
		                 
		                //关闭添加窗口
		                //addApkWindow.window('close');
		                //刷新页面
		                //datagrid.datagrid('reload');
		                 
		            }else if ( status == "empty"){
		                $('#result').html("上传失败");
		            }else {
		                $('#result').html('上传失败，请重试！！');
		            } */
		        },
		        error:function(data, status, e){ //服务器响应失败时的处理函数
		            console.log(e);
		            console.log(data);
		            $('#result').html('APK上传失败，请重试！！');
		        }
		    });
		}
		</script>
	</head>

	<body>
			<div id="addApkWindows">
     
    <!-- http://www.open-open.com/lib/view/open1379579369943.html -->
        <div id="result"></div>
       
<!--         <img id="uploadImage" src="http://www.firefox.com.cn/favicon.ico"> -->
        软件更新详情：
 
        <textarea rows="2" cols="30" id="apkInfo"></textarea>
         
上传文件：
 
        <input type="file" id="apkFile" name="apkFile"/>
 
        <input type="button" value="上传" onclick="ajaxFileUpload()"/>
 
    </div>
	</body>

</html>