<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>员工</title>
		<!-- 导入jquery核心类库 -->
		<script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
		<!-- 导入easyui类库 -->
		<link rel="stylesheet" type="text/css" href="../../js/easyui/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../../js/easyui/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="../../js/easyui/ext/portal.css">
		<link rel="stylesheet" type="text/css" href="../../css/default.css">
		
		<script type="text/javascript" src="../../js/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="../../js/easyui/ext/jquery.portal.js"></script>
		<script type="text/javascript" src="../../js/easyui/ext/jquery.cookie.js"></script>
		<script src="../../js/easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
		<script type="text/javascript" src="../../js/jquery.serializejson.min.js"></script>
		<script type="text/javascript">
			$(function(){
				// 先将body隐藏，再显示，不会出现页面刷新效果
				$("body").css({visibility:"visible"});
				
				$('#grid').datagrid( {
					iconCls : 'icon-forward',
					fit : true,
					border : false,
					rownumbers : true,
					striped : true,
					toolbar : toolbar,
					pageList: [10,20],
					pagination : true,
					url : "../../qingjia/findPage.do",
					idField : 'id',
					columns : columns
				});
				$("#save").click(function(){
					if($("#formdata").form('validate')){
						var dataform=$("#formdata").serializeJSON();
						var img = $("#huixian").attr("src");
						dataform.img=img;
						$.post("../../qingjia/add.do",dataform,function(data){
							if(data.success){
								$('#grid').datagrid("reload");
							}
							$("#standardWindow").window("close");
							$.messager.alert("提示",data.message);
						})
					}
					})
					
					$("#img").change(function() { 
		                var file = this.files[0];  
		                var reader = new FileReader();  
		                reader.readAsDataURL(file);//调用自带方法进行转换  
		                reader.onload = function(e) {  
		                	var img = e.target.result;
		                	$("#huixian").attr("src",img);
		                
		                }; 
		                $(this).val('');
		        });
			});
			function doAdd(){
					$("#formdata").form("reset");
					$("#hiddenId").val(null);
					$("#standardWindow").window("open");
			}
			
			function doserach(){
				$("#standardWindow1").window("open");
			}
			//修改
			function doedit(){
				
				var rowDatas = $("#grid").datagrid("getSelections");
				  if(rowDatas.length==1){
					  	var row=rowDatas[0];
						$("#formdata").form("load",row);
						$("#huixian").attr("src",row.img)
						$("#standardWindow").window("open");
				  }else{
					  $.messager.alert("提示","请选择一条数据");
				  }
			}
			//删除
		  	function dodelete(){
		  		var rowDatas = $("#grid").datagrid("getSelections");
				  	if(rowDatas.length==0){
						$.messager.alert("提示","请选项需要删除的数据");
					}else{
						$.messager.confirm("提示","是否要删除选择的数据?",function(r){
							if(r){
								//获取选中数据的id
								var ids  = new Array();
								for (var i = 0; i < rowDatas.length; i++) {
									ids.push(rowDatas[i].id);
								}
								ids = ids.join(",");
								$.post("../../emp/delete.do",{"ids":ids},function(data){
									if(data.success){
										$("#grid").datagrid("reload");
										$("#grid").datagrid("clearSelections");
									}
									$.messager.alert("提示",data.message);
								})
							}
						})
					}
		  	}	
			
			//工具栏
		var toolbar = [/*  {
				id : 'button-add',
				text : '增加',
				iconCls : 'icon-add',
				handler :doAdd
			} */];
			
			// 定义列
			var columns = [ [/*  {
				field : 'id',
				checkbox : true
			}, */{
				field : 'type',
				title : '请假类型',
				width : 100,
				align : 'center'
			},{
				field : 'emp',
				title : '申请人',
				width : 100,
				align : 'center',formatter:function(data,row, index){
					if(row.emp!=null){
						return row.emp.username;
					}
					return "";
				}
			},{
				field : 'start_date',
				title : '起始',
				width : 100,
				align : 'center'
			},{
				field : 'end_date',
				title : '结束',
				width : 100,
				align : 'center'
			},{
				field : 'num',
				title : '请假天数',
				width : 80,
				align : 'center'
			} ,{
				field : 'bak',
				title : '请假原由',
				width : 150,
				align : 'center'
			} ,{
				field : 'up_status',
				title : '上级批假',
				width : 80,
				align : 'center',formatter:function(data,row, index){
					if(data=="0"){
						return '未审批';
					}else if(data=="1"){
						return '已审批';
					}
					return "";
				}
			},{
				field : 'upp_status',
				title : '总经理批假',
				width : 80,
				align : 'center',formatter:function(data,row, index){
					if(data=="0"){
						return '未审批';
					}else if(data=="1"){
						return '已审批';
					}
					return "";
				}
			},{
				field : 'create_date',
				title : '申请时间',
				width : 100,
				align : 'center'
			},{
				field : 'ceshi',
				title : '部门经理审批',
				width : 100,
				align : 'center',formatter:function(data,row, index){
					if(row.up_status=="0"){
						return '<span style="color: red;" onclick="shenpi('+row.id+')">审批</span>';
					}
					return "";
				}
			}] ];
			
			function shenpi(id) {
				$.post("../../qingjia/bumenshepi",{id:id},function(data){
					if(data.success){
						$('#grid').datagrid("reload");
					}
					$("#standardWindow").window("close");
					$.messager.alert("提示",data.message);
				})
			}
		</script>
	</head>
	<body class="easyui-layout" style="visibility:hidden;">
		<div region="center" border="false">
			<table id="grid"></table>
		</div>
		
		<div class="easyui-window" title="添加/修改" id="standardWindow" collapsible="false" minimizable="false" maximizable="false" modal="true" closed="true" style="width:600px;left:200px">
			<div region="north" style="height:31px;overflow:hidden;" split="false" border="false">
				<div class="datagrid-toolbar">
					<a id="save" icon="icon-save" href="#" class="easyui-linkbutton" plain="true">保存</a>
				</div>
			</div>

			<div region="center" style="overflow:auto;padding:5px;" border="false">
				<form id="formdata">
					<table class="table-edit" width="80%" align="center">
						<tr class="title">
							<td colspan="2">
								<!--提供隐藏域 装载id -->
								<input type="hidden" name="id" id="hiddenId"/>
							</td>
						</tr>
						
						<tr>
							<td>起止：</td>
							<td>
								<select class="easyui-combobox" name="type" style="width: 100px;">   
									    <option value="事假">事假</option>   
									    <option value="病假">病假</option>   
									    <option value="其他">其他</option>   
								</select> 
							</td>
						</tr>
						<tr>
							<td>起止：</td>
							<td>
								<input type="text" name="start_date" 
									class="easyui-datebox" required="required" />
							</td>
						</tr>
						<tr>
							<td>结束：</td>
							<td>
								<input type="text" name="end_date" 
									class="easyui-datebox" required="required" />
							</td>
						</tr>
						<tr>
							<td>原有：</td>
							<td>
								<input type="text" name="bak" 
									class="easyui-validatebox" required="required" />
							</td>
						</tr>
					
					</table>
				</form>
			</div>
		</div>
	</body>

</html>